*{
    width: 0;
    height: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
.Body {
    position: relative;
    width: 100%;
    height: 100%;
}
#myVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}
#mainBackground {
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.301);
}
#row {
    position: absolute;
    top:30%;
    width: 100%;
    height: 200px;
    top: 30%;
    z-index: 3;
}
.col {
    /* background-color: rgb(110, 110, 114); */
    height: 80px;
    padding: auto;
    font-size: 28px;
    width: 30%;
    margin-left: 40px;
    /* bottom: auto; */
    border-radius: 50%;
    padding: 4px;
    /* box-sizing: border-box; */
    transition: 0.4s;
    color: white;
    font-weight: bolder;
}
.col:hover{
    background-color: rgba(110, 110, 114, 0.555);
}
.abc{
    position: absolute;
    top:100%;
    height: 100%;
}
